/* site.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header {
  text-align: center;
}

.column-left{
  margin: 0 0 20px 0;
  float: left;
  width: 25%;
  text-align: center;
  background-color: rgb(248, 150, 123);
  padding: 20px 0;
  border: 1px solid black !important;
}

.column-center{
  margin: 0 0 20px 0;
  display: inline-block;
  width: 50%;
  text-align: center;
  background-color: rgb(238, 227, 174);
  padding: 20px 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.column-right{
  margin: 0 0 20px 0;
  float: right;
  width: 25%;
  background-color: rgb(248, 150, 123);
  padding: 20px 0;
  border: 1px solid black;
}

select {
  background-color: black;
  color: white !important;
  border: 1px solid black;
  border-radius: 8px;
  height: 30px;
  width: auto;
  text-align: center !important;
}

select:hover {
  background-color: white;
  color: black !important;
}

option {
  background-color: white !important;
  color: black;
}

.siding-content {
  width: 90%;
  margin: 0 5% 20px 5%
}

.examples {
  width: 45% !important;
  height: auto;
  margin: 18px;
}

#main {
  width: 100%;
}

#footer {
  z-index: -100;
  position: sticky;
  bottom: 0;
  width: 100%;;
  padding: 40px 0;
  text-align: center;
  background-color: rgb(193, 193, 193);
  border-bottom: 1px solid black;
}

.curly-header {
  width: 100%;
}

/* image border when hover example.
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

<a href="paris.jpg">
  <img src="paris.jpg" alt="Paris">
</a>
*/
