<div style="width: 100%">
    <img src="assets/images/CompanyDesign.jpg" class="curly-header"/>
</div>
<div class="row" style="width: 100.8%; border: 1px solid black !important;">
    <div class="col-sm-3 side">
            <app-sidewidget></app-sidewidget>
        </div>
    <div class="col-sm-6 middle">
        <app-header (featureSelected)="onNavigate($event)"></app-header>
    </div>
    <div class="col-sm-3 side">
        <app-sidewidget></app-sidewidget>
    </div>
</div>
<div id="footer">
    &copy; Curly Rey Design
</div>