<div id="cardSelector">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white;" href="#">Cards<span class="caret"></span></a>
            <ul class="dropdown-menu" style="background-color:#000000">
            <li><a class="whitetext" href="#">Christmas</a></li>
            <li><a class="whitetext" href="#">Thank You</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle whitetext" data-toggle="dropdown" style="color: white;" href="#">Announcements<span class="caret"></span></a>
            <ul class="dropdown-menu navbar-nav-ul" style="background-color:#000000">
            <li><a class="whitetext" href="#">Mission</a></li>
            <li><a class="whitetext" href="#">Save The Date</a></li>
            <li><a class="whitetext" href="#">Baby</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle whitetext" data-toggle="dropdown" style="color: white;" href="#">Invitations<span class="caret"></span></a>
            <ul class="dropdown-menu navbar-nav-ul" style="background-color:#000000">
            <li><a class="whitetext" href="#">Birthday</a></li>
            <li><a class="whitetext" href="#">Baptism</a></li>
            <li><a class="whitetext" href="#">Farewell</a></li>
            <li><a class="whitetext" href="#">Bridal Shower</a></li>
            <li><a class="whitetext" href="#">Baby Blessing</a></li>
            <li><a class="whitetext" href="#">Baby Shower</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle whitetext" style="color: white;" data-toggle="dropdown" href="#">Prints<span class="caret"></span></a>
            <ul class="dropdown-menu navbar-nav-ul" style="background-color:#000000">
            <li><a class="whitetext" href="#">Nursery</a></li>
            <li><a class="whitetext" href="#">Quotes</a></li>
            <li><a class="whitetext" href="#">Floral</a></li>
            <li><a class="whitetext" href="#">Scriptures</a></li>
            </ul>
        </li>
</div>


<!--div class="navbar-collapse collapse" style="background-color: black">
    <ul class="nav navbar-nav selected">
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cards<span class="caret"></span></a>
        <ul class="dropdown-menu navbar-nav-ul" style="background-color:#000000">
        <li><a class="whitetext" href="#">Christmas</a></li>
        <li><a class="whitetext" href="#">Thank You</a></li>
        </ul>
    </li>
    <li class="dropdown">
    <a class="dropdown-toggle whitetext" data-toggle="dropdown" href="#">Announcements<span class="caret"></span></a>
        <ul class="dropdown-menu navbar-nav-ul" style="background-color:#000000">
        <li><a class="whitetext" href="#">Mission</a></li>
        <li><a class="whitetext" href="#">Save The Date</a></li>
        <li><a class="whitetext" href="#">Baby</a></li>
        </ul>
    </li>
    <li class="dropdown">
    <a class="dropdown-toggle whitetext" data-toggle="dropdown" href="#">Invitations<span class="caret"></span></a>
        <ul class="dropdown-menu navbar-nav-ul" style="background-color:#000000">
        <li><a class="whitetext" href="#">Birthday</a></li>
        <li><a class="whitetext" href="#">Baptism</a></li>
        <li><a class="whitetext" href="#">Farewell</a></li>
        <li><a class="whitetext" href="#">Bridal Shower</a></li>
        <li><a class="whitetext" href="#">Baby Blessing</a></li>
        <li><a class="whitetext" href="#">Baby Shower</a></li>
        </ul>
    </li>
    <li class="dropdown">
    <a class="dropdown-toggle whitetext" data-toggle="dropdown" href="#">Prints<span class="caret"></span></a>
        <ul class="dropdown-menu navbar-nav-ul" style="background-color:#000000">
        <li><a class="whitetext" href="#">Nursery</a></li>
        <li><a class="whitetext" href="#">Quotes</a></li>
        <li><a class="whitetext" href="#">Floral</a></li>
        <li><a class="whitetext" href="#">Scriptures</a></li>
        </ul>
    </li>
    </ul>
</div-->